<!DOCTYPE html>
{% extends 'base/base_profile.html' %} 
{% load static %}
{% block head_title %} funeducare-laporan perkembangan{% endblock head_title %}
{% block extra_css %}
<link rel="stylesheet" href="">
{% endblock %}
{% block body_block%}
        <!-- Main Content -->
        <div class="col-12 col-md-12 mt-4 text-center">
          <h1>Laporan perkembangan</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
            dignissimos rem vel dolore, amet, ipsam nemo possimus illum.
          </p>
        </div>
      </div>
    </div>
{% endblock %}
  