<!DOCTYPE html>
{% extends 'base/base_element.html' %} {% load static %} {% block head_title %}
funeducare-reset konfirmasi{% endblock head_title %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/resetpw-style.css' %}" />
{% endblock %} {% block body_block %}
<!-- Container untuk menampung konten -->
<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <!-- Formulir Reset Password -->
  <div class="card p-5 shadow-lg" style="max-width: 500px; width: 100%">
    <h1 class="text-center mb-4">Reset Password</h1>
    <p class="text-center">
      Masukkan password baru dan konfirmasi. Pastikan password baru tidak mudah
      ditebak
    </p>

    {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="new_password1" class="form-label"
          >New Password <span class="text-danger">*</span></label
        >
        <div>
          <input
            type="password"
            name="new_password1"
            id="id_password1"
            class="form-control"
            placeholder="Masukkan Password "
            required
          />
          <span
            id="toggle-password1"
            class="bi bi-eye-slash position-absolute icon"
            style="
              top: 53.5%;
              right: 60px;
              transform: translateY(-50%);
              cursor: pointer;
              font-size: 20px;
            "
          ></span>
        </div>
      </div>
      <div class="mb-3">
        <label for="new_password2" class="form-label"
          >Konfirmasi New Password <span class="text-danger">*</span></label
        >
        <div>
          <input
            type="password"
            name="new_password2"
            id="id_password2"
            class="form-control"
            placeholder="Masukkan ulang password"
            required
          />
          <span
            id="toggle-password2"
            class="bi bi-eye-slash position-absolute icon"
            style="
              top: 73%;
              right: 60px;
              transform: translateY(-50%);
              cursor: pointer;
              font-size: 20px;
            "
          ></span>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Konfirmasi</button>
      </div>
    </form>
    {% else %}
    <p class="text-center text-danger">Link tidak valid</p>
    {% endif %}
  </div>
</div>

<!-- Optional: Tambahkan script tambahan -->
<script>
  // JavaScript to toggle the password visibility
  document
    .getElementById("toggle-password1")
    .addEventListener("click", function () {
      var passwordField = document.getElementById("id_password1");
      var icon = document.getElementById("toggle-password1");

      if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.remove("bi-eye-slash");
        icon.classList.add("bi-eye");
      } else {
        passwordField.type = "password";
        icon.classList.remove("bi-eye");
        icon.classList.add("bi-eye-slash");
      }
    });

  document
    .getElementById("toggle-password2")
    .addEventListener("click", function () {
      var passwordField = document.getElementById("id_password2");
      var icon = document.getElementById("toggle-password2");

      if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.remove("bi-eye-slash");
        icon.classList.add("bi-eye");
      } else {
        passwordField.type = "password";
        icon.classList.remove("bi-eye");
        icon.classList.add("bi-eye-slash");
      }
    });
</script>
{% endblock %}
