<!DOCTYPE html>
{% extends 'base/base_element.html' %} {% load static %} 
{% block head_title %} funeducare-reset done{% endblock head_title %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/email-style.css' %}" />
{% endblock %} {% block body_block %}
   
      <div class="col-12 ">
        <div class="row">
          <div class="content text-center p-5 col-12 mt-5 justify-content-center align-items-center">
            <img src="{% static 'images/succes_email.png' %}" alt="logo" width="300px" height='300px' ></img>
            <div class="content-text">
              <h1 class="p-2">Email Sent Successfully</h1>
              <p>Jika anda tidak menerima email, cek kembali email anda!</p>    
              <a href="{% url 'users:login' %}" class="btn btn-primary">Back to Page</a>  
            <div>
          </div>
        </div>
      </div>
 
{% endblock %}
