{% extends 'base/base_profile.html' %} {% load static %} {% block head_title %}
FunEduCare - Daftar Anak {% endblock head_title %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profilechild-style.css' %}" />
{% endblock %} {% block body_block %}
<div class="container">
  <h2 class="text-center">Daftar Anak</h2>
  <a
    href="{% url 'users:profile' %}"
    class="btn btn-secondary mb-5 col-3 d-block mx-auto"
  >
    <i class="bi bi-person-fill me-2" style="color: white"></i>
    <!-- Menggunakan ikon dari Bootstrap Icons -->
    Tambah Biodata Anak
  </a>

  {% if children %}
  <div class="row">
    {% for child in children %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div
        class="card h-100 shadow d-flex flex-column align-items-center rounded-5 p-3"
      >
        <!-- Child Image -->
        <div
          class="d-flex align-items-center justify-content-center"
          style="height: 200px"
        >
          <img
            src="{% if child.foto_anak %}{{ child.foto_anak.url }}{% else %}{% static 'images/IMG_6643.png' %}{% endif %}"
            class="rounded-circle"
            alt="Foto"
            style="height: 180px; width: 180px; object-fit: cover"
          />
        </div>

        <!-- Child Details -->
        <div class="card-body text-start">
          <h4 class="card-title text-center mb-4">{{ child.nama_anak }}</h4>
          <div class="card-text d-flex flex-column gap-1">
            <h5><strong>Jenis Kelamin:</strong> {{ child.jenis_kelamin }}</h5>
            <h5><strong>Usia:</strong> {{ child.usia }} tahun</h5>
            <h5><strong>Program:</strong>{{form_booking.program}}</h5>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="card-footer text-center">
          <form
            method="POST"
            action="{% url 'users:delete_child' child.id %}"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">
              <i
                class="fa-solid fa-trash"
                style="color: white; font-size: 17px; padding: 3px"
              ></i>
              Hapus Profil Anak
            </button>
          </form>

          <a
            class="btn btn-warning btn-sm ms-2"
            style="font-size: 16px; font-weight: 500"
            href="{% url 'programs:programs' %}"
            ><i class="fa-solid fa-magnifying-glass"></i> Cari Program</a
          >
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <!-- Display message if no children are registered -->
  <div class="text-center">
    <p>Anda belum memiliki anak yang terdaftar.</p>
  </div>
  {% endif %}

  <script src="{% static 'js/profilanak.js' %}"></script>

  {% endblock %}
</div>
