{% extends 'base/base_profile.html' %} {% load static %} {% block head_title %}
FunEduCare - Profile Anak {% endblock head_title %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/child-profile-style.css' %}" />
{% endblock %} {% block body_block %}
<div class="container profile-container mt-4 mb-5">
  <h3 class="form-title text-center mb-4">
    FUNEDUCARE - FORMULIR PENDAFTARAN ANAK
  </h3>
  <div class="col-lg-10 col-md-12 mx-auto shadow-lg p-5">
    <form method="POST" enctype="multipart/form-data" class="profile-form">
      {% csrf_token %}

      <!-- Personal Information Section -->
      <h4 class="form-section-title mb-4">Informasi Pribadi</h4>
      <p class="mb-5 text-center" style="font-size: 17px; font-weight: 500">
        Pastikan Anda mengisi semua form yang ada. agar bisa membuat biodata
        anak anda !
      </p>
      <div class="row">
        <div class="col-12 col-md-6 form-group mb-3">
          <label for="nama_anak" class="form-label">
            Nama Anak <span class="text-danger">*</span>
          </label>
          {{ form.nama_anak }}
        </div>
        <div class="col-12 col-md-6 form-group mb-3">
          <label for="usia" class="form-label">
            Usia <span class="text-danger">*</span>
          </label>
          {{ form.usia }}
        </div>

        <div class="col-12 col-md-6 form-group mb-3">
          <label for="jenis_kelamin" class="form-label">
            Jenis Kelamin <span class="text-danger">*</span>
          </label>
          {{ form.jenis_kelamin }}
        </div>

        <div class="col-12 col-md-6 form-group mb-3">
          <label for="hobi" class="form-label">
            Hobi <span class="text-danger">*</span>
          </label>
          {{ form.hobi }}
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 form-group mb-3">
          <label for="riwayat_penyakit" class="form-label">
            Riwayat Penyakit <span class="text-danger">*</span>
          </label>
          {{ form.riwayat_penyakit }}
        </div>
        <div class="col-12 col-md-6 form-group mb-3">
          <label for="keterangan_tambahan" class="form-label">
            Keterangan Tambahan <span class="text-danger">*</span>
          </label>
          {{ form.keterangan_tambahan }}
        </div>
      </div>

      <!-- Upload Akta Kelahiran -->
      <div class="form-group mb-3">
        <label for="akta_kelahiran" class="form-label">
          Upload Akta Kelahiran Anak <span class="text-danger">*</span>
        </label>
        {{ form.akta_kelahiran }}
      </div>

      <!-- Upload KTP -->
      <div class="form-group mb-3">
        <label for="ktp" class="form-label">
          Upload KTP <span class="text-danger">*</span>
        </label>
        {{ form.ktp }}
      </div>

      <!-- Profile Image Section -->
      <h4 class="form-section-title mb-4">Tambah Foto Profil Anak</h4>
      <div class="form-group mb-3">
        <label for="id_foto_anak" class="img-upload">
          <i class="fa fa-upload"></i> Tambah foto profil
        </label>
        {{ form.foto_anak }}
        <p class="image-instruction text-muted">
          Format: PNG/JPG/SVG (Dimensions: 255x255)
        </p>
      </div>
      <div class="text-center mt-3 next">
        <a href="{% url 'users:profile_view' %}" class="btn btn-warning"
          >Lihat daftar Anak Anda</a
        >
      </div>
      <!-- Action Buttons -->
      <div class="form-action-buttons text-center">
        <button
          class="btn btn-secondary btn-cancel"
          type="button"
          onclick="cancelAddChild()"
        >
          Batal
        </button>
        <button class="btn btn-primary btn-submit" type="submit">Simpan</button>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'js/profilanak.js' %}"></script>
{% endblock %}
