.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image-input {
  cursor: pointer;
}

.profile-image {
  border-radius: 50%; /* Membuat gambar bundar */
}

.profile-image-input {
  opacity: 0; /* Menyembunyikan input file, tapi tetap bisa diklik */
}
