@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;

  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}
body {
  background-color: #011f46 !important;
}
.card {
  background-color: var(--bg-color);
}
.card h1 {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(to right, var(--main-color), #ee0d62);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card p {
  font-size: 17px;
  color: var(--text-color1);
  opacity: 90%;
  font-weight: 400;
}
.form-label {
  font-size: var(--text-color1);
  font-weight: 600;
}
