* {
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;

  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}
body {
  display: grid;
  place-items: center;
  background-color: #011f46 !important;
}

.home {
  font-size: 20px;
  display: flex;
  place-items: start;
  /* Memposisikan konten .home di kiri atas */
  justify-self: start;
  /* Memposisikan elemen .home di sisi kiri grid */
  margin-left: 10px;
  gap: 10px;
  align-items: center;
}

.home svg {
  color: var(--main-color);
}

.home:hover {
  color: #ee0d52;
}

.link {
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
  color: #ee0d52;
}

.text h1 {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(to right, var(--main-color), #ee0d62);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p {
  font-size: var(--p-font);
  color: var(--text-color1);
}

.content-forgot {
  padding: 50px;
  position: relative;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  width: fit-content;
  margin-top: 80px;
  background-color: var(--bg-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.submit .btn {
  width: 100%;
  /* Mengatur lebar tombol */
  background-color: var(--main-color);
  /* Mengatur warna latar tombol */
  border-radius: 5px;
  /* Membuat sudut tombol melengkung dengan radius 15px */
  font-weight: bold;
  /* Mengatur teks tombol menjadi tebal */
  color: white;
}

.submit .btn:hover {
  background-color: white;
  /* Mengubah warna latar tombol saat hover */
  color: var(--main-color);
  border: solid 1px var(--main-color);
  /* Mengubah warna border tombol saat hover */
}
