<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Class</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/booking-style.css' %}" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/booking.js' %}"></script>

</head>

<body>
    {% block content %}
    <div class="container content-1">
        <img src="{%static 'images/logo2.png' %}" alt="FunEduCare Logo" class="form-logo" />
        <!-- Form -->

        <!-- Judul Formulir -->
        <h3 class="judul">Formulir Pendaftaran</h3>
        <p class="keterangan">Silahkan isi data dibawah ini dengan baik dan benar</p>
        <br>

        <form id="bookingForm" method="POST" enctype="multipart/form-data">
            <h4 class="mb-2" style="font-weight:600">Detail Pengguna</h3>
            <p><strong>Nama Pengguna:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Alamat:</strong> {{ user.alamat }}</p>
            <p class="mb-2"><strong>No. Telepon:</strong> {{ user.no_telp }}</p>
           
            {% csrf_token %}
            <!-- Nama Orang Tua -->

            <div class="form-group">
                {{form_booking.nama_anak.label_tag}}
                {{ form_booking.nama_anak }}
            </div>

            <div class="form-group">
                {{form_booking.program.label_tag}}
                {{form_booking.program}}
            </div>

            <div class="form-group">
                {{form_booking.fee.label_tag}}
                {{form_booking.fee}}
            </div>

            <!-- Kotak centang persetujuan -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="termsCheckbox">
                <label class="form-check-label" for="termsCheckbox">
                    Saya menyetujui semua <a href="{% url 'pendaftaran:syarat' %}" target="_blank">syarat dan
                        ketentuan</a>.
                </label>
            </div>

            <!-- Tombol aksi -->
            <div class="button-group">
                <a href="{% url 'programs:programs' %}" class="btn btn-secondary">
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary" id="bookingButton" disabled>
                    Booking Sekarang
                </button>
            </div>
        </form>

    </div>
    {% endblock content %}
    <script>
        $("#program-select").change(function () {
            var programId = $(this).val();
            var feeSelect = $("#fee-select");

            // Reset fee select
            feeSelect.empty();
            feeSelect.append($('<option></option>').attr('value', '').text('Pilih Jenis Program'));

            if (programId) {
                // Fetch related fees using AJAX
                $.ajax({
                    url: "{% url 'pendaftaran:get_fees' %}",
                    data: {
                        'program_id': programId
                    },
                    success: function (data) {
                        // Add new options
                        data.fees.forEach(function (fee) {
                            feeSelect.append(
                                $('<option></option>')
                                    .attr('value', fee.id)
                                    .text(fee.type_program + ' - Rp ' + fee.amount)
                            );
                        });
                    }
                });
            }
        });
    </script>
</body>

</html>