<!DOCTYPE html>
{% extends 'base/base.html' %} {% block head_title %}Funeducare-contactus 
{% endblock head_title %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contactus-style.css' %}" />
{% endblock %} {% block body_block %}

<section class="image-section">
  <img src="{% static 'images/bg-contactus.png' %}" alt="Program Image" />
  <div class="overlay content-1">
    <h1>Contact Us</h1>
    <hr class="garis mx-auto mx-md-0" />
  </div>
</section>
<main class="container my-4">
  <div class="row">
    <article class="col-md-7 d-flex flex-column">
      <h2>Contact Form</h2>
      {% if messages %}
      <div>
        {% for message in messages %}
        <div
          class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <form method="POST" aria-labelledby="contact-form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{post_form.Nama.id_for_label }}" class="form-label"
            >{{post_form.Nama.label}}</label
          >
          {{post_form.Nama}}
        </div>
        <div class="mb-3">
          <label for="{{post_form.Email.id_for_label }}" class="form-label"
            >{{post_form.Email.label}}</label
          >
          {{post_form.Email}}
        </div>
        <div class="mb-3">
          <label
            for="{{post_form.Nomor_Kontak.id_for_label }}"
            class="form-label"
            >{{post_form.Nomor_Kontak.label}}</label
          >
          {{post_form.Nomor_Kontak}}
        </div>
        <div class="mb-3">
          <label for="{{post_form.Pesan.id_for_label }}" class="form-label"
            >{{post_form.Pesan.label}}</label
          >
          {{post_form.Pesan}}
        </div>

        <!-- <div class="mb-3">
              <label for="name" class="form-label">Nama</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Masukkan nama Anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Masukkan email Anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label">Nomor Kontak</label>
              <input
                type="tel"
                class="form-control"
                id="contact"
                name="contact"
                placeholder="Masukkan nomor kontak Anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Pesan</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                rows="3"
                required
              ></textarea>
            </div> -->
        <button type="Submit" class="btn btn-primary">Kirim</button>
      </form>
    </article>

    <aside class="col-md-5">
      <h2>Contact Information</h2>
      <hr />
      <div class="d-flex">
        <i class="bi bi-geo-fill me-2"></i>
        Jl. Mawar, Ruko Silent Hill 2 Blok ABC No. 123, GAG City, Kec. Brat,
        Kota Jakarta Selatan, DKI Jakarta, Indonesia
      </div>
      <hr />
      <div class="d-flex">
        <i class="bi bi-whatsapp me-2"></i>
        (+62) 882-2131-9983
      </div>
      <hr />
      <div class="d-flex">
        <i class="bi bi-envelope-heart me-2"></i>
        funeducare@gmail.com
      </div>
      <hr />
      <div class="d-flex">
        <i class="bi bi-hourglass-split me-2"></i>
        Jam Operasional : Senin - Jumat (07.00 - 18.00 WIB)
      </div>
    </aside>
  </div>
</main>

<section class="faq-container">
  <h1 class="text-center">FAQS?</h1>
  <div id="faq-list">
    <div class="faq-item">
      <div class="faq-question">
        Apa yang membedakan layanan daycare ini dengan daycare biasa?
      </div>
      <div class="faq-answer">
        <p>
          Layanan kami tidak hanya menyediakan pengasuhan, tetapi juga
          mengintegrasikan program pendidikan dini yang terstruktur. Kami fokus
          pada pengembangan holistik anak, meliputi aspek kognitif, sosial,
          emosional, dan fisik.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Untuk rentang usia berapa layanan ini tersedia?
      </div>
      <div class="faq-answer">
        <p>
          Kami melayani anak-anak dari usia 3 hingga 6 tahun, dengan program
          yang disesuaikan untuk setiap kelompok usia.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Apa kualifikasi staff pengasuh dan pendidik di daycare ini?
      </div>
      <div class="faq-answer">
        <p>
          Seluruh staff kami memiliki latar belakang pendidikan di bidang
          pengasuhan anak atau pendidikan usia dini, serta telah melalui
          pelatihan khusus dan pemeriksaan latar belakang yang ketat.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Bagaimana dengan keamanan dan kebersihan fasilitas?
      </div>
      <div class="faq-answer">
        <p>
          Kami menerapkan standar keamanan dan kebersihan yang ketat, termasuk
          sistem pengawasan CCTV, prosedur check-in/check-out yang aman, serta
          pembersihan dan disinfeksi rutin.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Apakah orang tua dapat memantau aktivitas anak selama di daycare?
      </div>
      <div class="faq-answer">
        <p>
          Ya, kami menyediakan aplikasi yang memungkinkan orang tua untuk
          melihat update real-time tentang aktivitas, makan, dan tidur anak
          mereka.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Bagaimana dengan penyediaan makanan untuk anak-anak?
      </div>
      <div class="faq-answer">
        <p>
          Kami menyediakan makanan sehat dan bergizi yang disiapkan oleh ahli
          gizi, dengan mempertimbangkan kebutuhan diet khusus dan alergi.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Bagaimana jika anak saya memerlukan perhatian khusus atau memiliki
        kebutuhan tertentu?
      </div>
      <div class="faq-answer">
        <p>
          Staf kami dilatih untuk menangani berbagai kebutuhan anak. Kami juga
          bekerja sama dengan terapis dan spesialis anak untuk memberikan
          dukungan tambahan jika diperlukan.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        Bagaimana cara mendaftar dan apa saja yang perlu disiapkan?
      </div>
      <div class="faq-answer">
        <p>
          Pendaftaran dapat dilakukan online melalui website kami atau langsung
          di lokasi. Dokumen yang diperlukan meliputi akta kelahiran anak,
          catatan kesehatan dan imunisasi, serta formulir pendaftaran yang telah
          diisi lengkap.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="map my-4">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.6880355629382!2d106.68383427409745!3d-6.304656361699461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e55e09af6f51%3A0x15d32286238d7a9c!2sEducourse.id%20Office!5e0!3m2!1sid!2sid!4v1727197567537!5m2!1sid!2sid"
    width="100%"
    height="450"
    frameborder="0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</section>
{% block extra_js %}
<script src="{% static 'js/contactus.js' %}"></script>
{% endblock %} {% endblock %}
